<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} | {% endif %}Fibercast</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
    <meta name="description" content="{{page.meta}}"
  </head>
  <body>
  <header>
    <h1>Fibercast</h1>
    {% include nav.html navclass="nav-top" %}
  </header>

  {{content}}

  <footer>
    {% include nav.html navclass="nav-bottom" %}
    <p>® 2015 Fibercast Network Inc.</p>
  </footer>
  </body>
</html>
